In [ ]:
import pandas as pd

df=pd.read_csv('Titanic.csv')
df['sex']=df['sex'].replace('male',0)
df['sex']=df['sex'].replace('female',1)

In [221]:
import numpy as np

In [ ]:
male_avg=np.mean(df.loc[df['sex']==0,'age'].dropna())
female_avg=np.mean(df.loc[df['sex']==1,'age'].dropna())

In [223]:
df.loc[(df['sex']==0) & (df['age'].isna()),'age']=male_avg
df.loc[(df['sex']==1) & (df['age'].isna()),'age']=female_avg

In [224]:
print('Mean male age is:',male_avg)
print('Mean female age is:',female_avg)
print('The age of the 41st passenger Dr. Arthur Jackson Brewe is:',df.at[40,'age'])

Mean male age is: 30.58522796352584
Mean female age is: 28.68708762886598
The age of the 41st passenger Dr. Arthur Jackson Brewe is: 30.58522796352584

In [225]:
first_class=np.mean(df.loc[df['pclass']==1,'fare'].dropna())
second_class=np.mean(df.loc[df['pclass']==2,'fare'].dropna())
third_class=np.mean(df.loc[df['pclass']==3,'fare'].dropna())

In [226]:
df.loc[(df['pclass']==1) & (df['fare'].isna()),'fare']=first_class
df.loc[(df['pclass']==2) & (df['fare'].isna()),'fare']=second_class
df.loc[(df['pclass']==3) & (df['fare'].isna()),'fare']=third_class

In [227]:
print('The mean price of the first class:',first_class)
print('The mean price of the second class:',second_class)
print('The mean price of the third class:',third_class)
print('The ticket fare of the 1226 th passenger Mr. Thomas Storey is:',df.at[1225,'fare'])

The mean price of the first class: 87.50899164086688
The mean price of the second class: 21.179196389891697
The mean price of the third class: 13.302888700564973
The ticket fare of the 1226 th passenger Mr. Thomas Storey is: 13.302888700564973

In [228]:
def z_Norm(x):
    u=np.mean(x)
    theta=np.std(x)
    Z=(x-u)/theta
    return Z

In [229]:
fare=z_Norm(df['fare'])
df['fare']=fare
age=z_Norm(df['age'])
df['age']=age
print("Normalized ticket price and age values for the first passenger:"
      ,df.at[0,'fare'],
      df.at[0,'age'])

Normalized ticket price and age values for the first passenger: 3.442579170469819 -0.07058969559145088

In [230]:
X=df.loc[:,['pclass','sex','age','fare']]
X

      pclass  sex       age      fare
0          1    1 -0.070590  3.442579
1          1    0 -2.249994  2.286641
2          1    1 -2.166170  2.286641
3          1    0  0.007024  2.286641
4          1    1 -0.381046  2.286641
...      ...  ...       ...       ...
1304       3    1 -1.195994 -0.363984
1305       3    1 -0.094876 -0.363984
1306       3    0 -0.264625 -0.503754
1307       3    0 -0.225818 -0.503754
1308       3    0 -0.070590 -0.491187

[1309 rows x 4 columns]

In [231]:
y=df.loc[:,'survived']
y

0       1
1       1
2       0
3       0
4       0
       ..
1304    0
1305    0
1306    0
1307    0
1308    0
Name: survived, Length: 1309, dtype: int64

In [232]:
data_num=len(df)
train_size=int(0.8*data_num)
random_indices=np.random.permutation(data_num)
train_indices=random_indices[:train_size]
test_indices=random_indices[train_size:]
X_train=X.iloc[train_indices]
y_train=y.iloc[train_indices]
X_test=X.iloc[test_indices]
y_test=y.iloc[test_indices]
print(f"Training X set size: {len(X_train)} samples")
print(f"Testing X set size: {len(X_test)} samples")
print(f"Training y set size: {len(y_train)} samples")
print(f"Testing y set size: {len(y_test)} samples")

Training X set size: 1047 samples
Testing X set size: 262 samples
Training y set size: 1047 samples
Testing y set size: 262 samples

In [241]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression(max_iter=1000)
clf.fit(X_train,y_train)
print(f'Mean test accuracy: {clf.score(X_test,y_test)}')

Mean test accuracy: 0.8320610687022901